body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(ChatGPT\ Image\ 18\ jul\ 2025\,\ 11_57_48\ a.m..png);
    image-resolution: 100%;
}
h1{
    background-color: #f8c78e;
    border-radius: 30px;
    margin-left: 18%;
    margin-right: 18%;
    border: 4px solid;
}
h3{
    background-color: #f8c78e;
    border-radius: 30px;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 14px;
    border: 4px solid;
}
h6{
    /* color: red; */
    border: 4px solid;
    margin-left: 40%;
    margin-right: 40%;
}
.container{
    background-color: rgba(117, 116, 116, 0.9);
    border-radius: 30px;
    border: 4px solid;
    margin-top: 2%;
}
.containerPreg{
    background-color: hsla(31, 44%, 81%, 0.5);
    padding-top: 1%;
    border-radius: 30px;
    border: 4px solid;
    margin-left: 10%;
    margin-right: 10%;
}
.btnC{
    background-color:rgb(244, 245, 242);
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 1%;
    border: 2px solid;
}
.btnS{
    background-color:rgb(0, 0, 0);
    border-radius: 30px;
    border-color: white;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 1%;
    color: white;
    border: 2px solid;
}
.pregunta{
    background-color: aliceblue;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 1%;
    border-radius: 30px;
    border: 4px solid;
}
.opV{
    padding: 8%;
    background-color: rgb(105, 240, 105);
    border-radius: 30px;
    border: 4px solid;
    cursor: pointer;
    font-size: 50px;
}
.opF{
    padding: 8%;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 1%;
    background-color: rgb(240, 105, 105);
    border-radius: 30px;
    border: 4px solid;
    cursor: pointer;
    font-size: 50px;
}
.mensaje{
    margin-top: 1.5%;
    margin-bottom: 2%;
    border-radius: 30px;
    border: 4px solid;
    margin-left: 27%;
    margin-right: 27%;
}
.bTiempo{
    width: 63%;
    height: 20px;
    background-color: #eee;
    border-radius: 30px;
    /* margin: 10px 0; */
    overflow: hidden;
    margin-left: 18.5%;
    border: 4px solid;
}
#bProgreso{
    height: 100%;
    width: 0%;
    background-color: yellow;
    transition: width 0.1s linear;
}
.hidden{
    display: none;

}
